<VirtualHost *:{{ http_port }}>
    ServerAdmin admin@34.245.164.179
    ServerName 34.245.164.179

    DocumentRoot {{ http_path }}/public/

    <Directory {{ http_path }}/public/>
            Options Indexes FollowSymLinks
            AllowOverride All
            Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
